<%= form_with(model: @task, local: true ) do |t| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= t.label :name %><br>
    <%= t.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= t.label :description %><br>
    <%= t.text_area :description, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <%= t.label :deadline %>
    <%= t.date_select :deadline, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= t.label :status %>
    <%= t.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k]} %>
  </div>
  <div class="form-group">
    <%= t.label :priority %>
    <%= t.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k]} %>
  </div>
  <div class ="form-group">
    <%= t.label :ラベル %>
    <%= t.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <%= t.submit "保存", class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to "一覧画面にもどる", tasks_path %>

