<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <%= link_to "Profile", admin_user_path(current_user.id), class: "btn btn-outline-light" %>
      <%= link_to "Logout", new_session_path(current_user.id), method: :delete, class:"btn btn-outline-light" %>
    <% else %>
      <%= link_to "Sign up", new_user_path, class:"btn btn-outline-dark"%>
      <%= link_to "Login", new_session_path, class:"btn btn-outline-dark" %>
    <% end %>
    </nav>
    <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>

